amqp==5.2.0
asgiref==3.8.1
billiard==4.2.0
blinker==1.4
celery==5.4.0
cron-descriptor==1.4.3
cryptography==3.4.8
distlib==0.3.8
Django==5.0.7
django-celery-beat==2.6.0
django-crontab==0.7.1
django-timezone-field==7.0
filelock==3.15.4
httplib2==0.20.2
importlib-metadata==4.6.4
jeepney==0.7.1
keyring==23.5.0
kombu==5.3.7
oauthlib==3.2.0
psycopg2==2.9.2
PyJWT==2.3.0
pyparsing==2.4.7
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
vine==5.1.0