{% extends 'base.html' %}

{% block register %}
<div class="min-h-screen flex flex-col items-center justify-center py-6 px-4">
    <div class="max-w-md w-full">
        <a href="/"><img src="https://i.postimg.cc/8CQSdG2V/paper-airplane-send-with-dotted-lines-flat-style.png"
                alt="logo" class='w-40 mb-8 mx-auto block' />
        </a>
        <div class="p-8 rounded-2xl bg-white shadow dark:bg-gray-800">
            <h2 class="text-gray-800 text-center text-2xl font-bold mb-3 dark:text-gray-100">Sign up</h2>
            <p class="text-gray-800 text-sm !mt-8 text-center dark:text-gray-300">Have an account? <a href="/login"
                    class="text-blue-600 hover:underline ml-1 whitespace-nowrap font-semibold dark:text-blue-400">Login
                    here</a>
            </p>

            <form action="" method="POST" class="mt-4 space-y-4">
                {% csrf_token %}
                <div>
                    <label class="text-gray-800 text-sm mb-2 block dark:text-gray-300">Full name</label>
                    <div class="relative flex items-center">
                        <input name="firstName" type="text" required
                            class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-300"
                            placeholder="Enter First name" />
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb"
                            class="w-4 h-4 absolute right-4" viewBox="0 0 24 24">
                            <circle cx="12" cy="8" r="4"></circle>
                            <path d="M12 14c-4.418 0-8 2.015-8 4.5V22h16v-3.5c0-2.485-3.582-4.5-8-4.5z"></path>
                        </svg>
                    </div>
                </div>
                <div>
                    <label class="text-gray-800 text-sm mb-2 block dark:text-gray-300">Email</label>
                    <div class="relative flex items-center">
                        <input name="email" type="text" required
                            class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-300"
                            placeholder="Enter Email" />

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb" class="w-4 h-4 absolute right-4"
                            viewBox="0 0 24 24">
                            <path
                                d="M12 12.713L.685 5h22.63L12 12.713zM0 7.386v10.728l7.68-5.364L0 7.386zm24 10.728V7.386l-7.68 5.364L24 18.114zM1.387 20h21.226L12 13.135 1.387 20z">
                            </path>
                        </svg>

                    </div>
                </div>
                <div>
                    <label class="text-gray-800 text-sm mb-2 block dark:text-gray-300">User name</label>
                    <div class="relative flex items-center">
                        <input name="username" type="text" required
                            class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-300"
                            placeholder="Enter user name" />
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb"
                            class="w-4 h-4 absolute right-4" viewBox="0 0 24 24">
                            <circle cx="10" cy="7" r="6" data-original="#000000"></circle>
                            <path
                                d="M14 15H6a5 5 0 0 0-5 5 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 5 5 0 0 0-5-5zm8-4h-2.59l.3-.29a1 1 0 0 0-1.42-1.42l-2 2a1 1 0 0 0 0 1.42l2 2a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42l-.3-.29H22a1 1 0 0 0 0-2z"
                                data-original="#000000"></path>
                        </svg>
                    </div>
                </div>
                <div>
                    <label class="text-gray-800 text-sm mb-2 block dark:text-gray-300">Password</label>
                    <div class="relative flex items-center">
                        <input name="password" type="password" required
                            class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-300"
                            placeholder="Enter password" />
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb"
                            class="w-4 h-4 absolute right-4 cursor-pointer" viewBox="0 0 128 128">
                            <path
                                d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
                                data-original="#000000"></path>
                        </svg>
                    </div>
                </div>
                <div class="!mt-8">
                    <button type="submit"
                        class="w-full py-3 px-4 text-sm tracking-wide rounded-lg text-white bg-blue-600 hover:bg-blue-700 focus:outline-none dark:bg-blue-500 dark:hover:bg-blue-600">
                        Sign up
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}